.About * {
  padding: 0;
  margin: 0;
}

.About {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: azure;
}

.About .intro {
  width: 100%;
  background-image: url("../Images/background1.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.About .intro h1 {
  font-size: 5em;
  font-family: 'Poppins';
}

.About .intro h4 {
  font-size: 1.2em;
  text-indent: 25px;
  width: 80%;
}
/* ------------------------------------------------------------------------------ */
.About .fouders {
  width: 100%;
  background-color: azure;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 40px 0;
}

.About .fouders h1 {
  color: #5d5f5f;
  text-shadow: 2px 2px 4px #b7bcbc;
  font-size: 4em;
  font-family: 'Poppins';
}

.About .fouders .found {
  width: 1000px;
  height: 250px;
  display: flex;
  gap: 50px;
  overflow: hidden;
}

.About .found > div:first-child {
  width: 30%;
  height: 100%;
}

.About .found > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.About .found > div:nth-child(2) {
  width: 64%;
  height: 100%;
  border-radius: 15px;
  border: 2px solid black;
  border-right: none;
  background-color: #f5f5f5;
  padding: 10px;
}

.About .found > div:nth-child(2) > p:first-child {
  font-size: 1.3em;
  font-weight: 700;
  padding: 5px 0;
}

.About .found > div:nth-child(2) > p:nth-child(2) {
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px 0;
}

.About .found > div:nth-child(2) > p:nth-child(3) {
  font-size: 1em;
  padding: 5px 0;
}
/* ------------------------------------------------------------------------------------ */
.About .experience{
  background-image: url('../Images/Intro_Background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px 0;
}

.About .experience h1{
  padding-left: 20px;
  font-size: 2.3em;
  font-family: 'Poppins';
}

.About .experience ul{
  padding-left: 60px;
  font-size: 1.2em;
}
/* ---------------------------------------------------------------------- */

.About .location{
  height: 500px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 70px 0;
  display: flex;
  justify-content: space-around;
}

.About .location .loc-img{
  width: 30%;
  overflow: hidden;
  border-radius: 25px;
}

.About .loc-img img{
  height: 100%;
  width: 100%;
  background-color: red;
  object-fit: cover;
  object-position: bottom;
}

.About .location .loc-add{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 25px;
  padding-left: 20px;
  box-shadow: inset 1px 1px 5px black;
}

.About .loc-add h1{
  padding: 10px 0 10px 10px;
}

.About .loc-add > p:nth-child(2){
  padding: 2px;
}

.About .loc-add > p:nth-child(3){
  padding: 5px 2px 2px 0;
  font-size: 1.2em;
  font-weight: 700;
}

.About .loc-add > p:nth-child(4){
  padding: 2px 2px 0 0;
  font-size: 1.1em;
  font-weight: 600;
}

.About .loc-add > p:nth-child(5), .loc-add > p:nth-child(6){
  padding: 0 2px 2px 40px;
  font-size: 1em;
}

.About .icn{
  padding: 2px 5px 0 2px;
}
/* ---------------------------------------------------------------------------------- */
.About .message{
  padding: 70px 0;
  background-image: url('../Images/Intro_Background1.jpg');
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About .message h1{
  padding-bottom: 10px;
  width: 77%;
}

.About .message p:nth-child(2){
  width: 72%;
  padding: 5px 0;
  text-indent: 20px;
}

.About .message p:nth-child(3){
  width: 80%;
  padding: 10px 0;
  font-weight: 600;
  font-size: 1.2em;
}

/* ---------------------------------------------------------------------------------------- */
/* Responsive  For Tablets  */
@media (max-width: 1024px) {
  .About .intro h1 {
    font-size: 3.5em;
  }

  .About .intro h4 {
    font-size: 1em;
    width: 90%;
  }

  .About .fouders h1 {
    font-size: 3em;
  }

  .About .fouders .found {
    width: 90%;
    height: auto;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .About .found > div:first-child {
    width: 100%;
    height: auto;
  }

  .About .found > div:nth-child(2) {
    width: 100%;
    border-right: 2px solid black;
    text-align: left;
  }
}

/* ---------------------------------------------------------------------------------------- */
/* Responsive  For Mobile  */
@media (max-width: 600px) {
  .About .intro {
    padding: 50px 0;
  }

  .About .intro h1 {
    font-size: 2.5em;
  }

  .About .intro h4 {
    font-size: 1em;
    width: 90%;
  }

  .About .fouders h1 {
    font-size: 2.5em;
  }

  .About .fouders .found {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .About .found > div:first-child {
    width: 100%;
    height: auto;
  }

  .About .found > div:nth-child(2) {
    width: 100%;
    border-right: 2px solid black;
    text-align: left;
  }

  .About .experience {
    padding: 50px 0;
  }

  .About .experience h1 {
    font-size: 2em;
    padding-left: 10px;
  }

  .About .experience ul {
    font-size: 1em;
    padding-left: 20px;
  }

  .About .location {
    flex-direction: column;
    height: auto;
    padding: 30px 0;
    text-align: center;
  }

  .About .location .loc-img {
    width: 90%;
  }

  .About .location .loc-add {
    width: 90%;
    padding: 20px;
  }

  .About .message {
    padding: 50px 0;
  }

  .About .message h1 {
    font-size: 2em;
    width: 90%;
  }

  .About .message p {
    width: 90%;
    font-size: 1em;
  }
}
