/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.Contact * {
  margin: 0;
  padding: 0;
}

.Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 50px);
  background-color: #007bff;
  border-bottom: 1px solid gray;
}

.Contact .con-head {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../Images/ContactBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.Contact .con-head h1 {
  font-size: 70px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
.Contact .con-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 100px 0;
}

.Contact .con-info p {
  background-color: #468bbc32;
  color: #ffffff;
  width: 300px;
  height: 120px;
  text-align: center;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.Contact .icn {
  padding-bottom: 5px;
}
/* --------------------------------------------------------------------------------------------- */

.Contact .transform {
  text-align: center;
  padding: 50px;
  background: #000;
  color: #fff;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.Contact .transform .trans-body {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  margin-top: 20px;
  padding: 30px 0;
  height: 350px;
}
/* --------------------------------------------------------------------------------------------- */

.Contact .feedback-container {
  display: flex;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/728824/pexels-photo-728824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
  padding-bottom: 50px;
}

.Contact .feedback-section {
  width: 1000px;
  margin: auto;
  padding: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Contact .feedback-section h2 {
  color: #000;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 10px;
}

.Contact .feedback-section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Contact form .inputs {
  width: 100%;
  /* margin: 10px 0; */
  display: flex;
  gap: 40px;
}

.Contact form .input {
  width: 380px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.Contact form .txtArea {
  width: 800px;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

.Contact .feedback-section button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 800px;
}

.Contact .feedback-section .successMessage {
  color: green;
}

.Contact .opinion {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 10px;
}
/* ----------------------------------------------------------------------------- */

@media (max-width: 1024px) {
  .Contact div:nth-child(2) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .Contact div:nth-child(2) p {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .Contact div:nth-child(2) p {
    width: 90%;
    height: auto;
    padding: 15px;
  }
  .Contact .FAQ {
    height: auto;
  }
}
/* ------------------------------------------------------------------------------ */
