.HomeBar *{
    margin: 0;
    padding: 0
}
.Home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.HomeBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 65px;
    left: 0;
    z-index: 10000;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}

.HomeBar nav{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.HomeBar nav a{
    border-radius: 0;
    border-bottom: 1px solid rgba(251, 251, 251, 0);
    color: black;
    text-decoration: none;
    width: fit-content;
    padding: 10px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    &:hover{
        border-bottom: 1px solid black;
    }
}

.HomeBar nav a.active{
    border-bottom: 1px solid black;
}