.HomeBar *{
    margin: 0;
    padding: 0
}
.Home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.HomeBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 65px;
    left: 0;
    z-index: 10000;
    width: 100%;
}

.HomeBar nav{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.HomeBar nav a{
    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 0;
    &:hover{
        border-bottom: 1px solid black;
    }
}

.HomeBar nav a.active{
    background-color: blue;
}