.HomeBar *{
    margin: 0;
    padding: 0
}

.Home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.HomeBar nav a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* padding: 0; */
    color: rgb(52, 52, 52);
    padding: 8px 24px;
}

.HomeBar nav a.active{
    background-color: rgb(37 99 235);
    color: white;
}