
/* General Reset */
.Nav * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Container */
.Nav {
  display: flex;
}

.Nav a.active {
  color: white;
  background-color: #155dfc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .Nav {
    padding: 0 16px;
  }

  .Nav .logo-links {
    gap: 10px;
  }

  .Nav .brand .name {
    font-size: 1rem;
  }

  .Nav .links {
    gap: 10px;
  }

  .Nav .links a {
    padding: 6px 10px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .Nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .Nav .logo-links {
    flex-direction: column;
    gap: 10px;
  }

  .Nav .links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Nav .notify-profile {
    margin-top: 10px;
  }
}