.Packages {
  /* margin: 20px 0 20px 0; */
  padding: 30px 0 50px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #f5f5f5;
}

.Packages .top-section {
  width: 90%;
  height: 500px;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.Packages .vid-section {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
  border-radius: 10px;
}

.Packages .function-section {
  width: 950px;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px 50px 10px 50px;
}

.Packages .search {
  position: relative;
  width: 600px;
  height: 45px;
  margin-right: 24px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.Packages .search .search-icon {
  position: absolute;
  left: 110px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s linear;
}

.Packages .search input {
  width: 500px;
  height: 45px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 6px 12px 6px 40px;
  border-radius: 8px;
  background-color: #ffffff71;
  border: none;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  font-size: 16px;
  transition: all 0.3s linear;
}

.Packages .search input::placeholder {
  color: #000000;
  font-size: 20px;
}

.Packages .search input:hover {
  border-color: #000000;
}

.Packages .search input:focus {
  border: 2px solid rgb(55, 0, 253);
  width: 600px;
}

.Packages .search:has(input:focus) .search-icon {
  left: 25px;
}

.Packages .dropdown {
  width: 200px;
  height: 45px;
  border-radius: 8px;
  background-color: #ffffff71;
  border: 2px solid black;
  outline: none;
}

.Packages .selection {
  height: 45px;
}

.Packages .count {
  width: fit-content;
  height: 45px;
  /* background-color: #ffffff71;
  color: #000000; */
  border-radius: 8px;
  /* border: 2px solid black; */
  color: rgb(236 240 235);
  padding: 8px 10px 0 10px;
  font-size: 20px;
  font-weight: 900;
}
