.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  gap: 20px;
  position: relative;
  align-items: flex-start;
  overflow: visible; 
  min-height: 80vh;
}

.restaurant-sidebar {
  min-width: 400px;
  width: 400px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: sticky;
  top: 130px;
  max-height: 90vh; 
  overflow-y: auto; 
}

.restaurant-sidebar .MuiTextField-root,
.restaurant-sidebar .MuiSelect-root {
  margin-bottom: 1rem;
}

.restaurant-sidebar .MuiTypography-h6 {
  margin-bottom: 1rem;
}

.restaurant-sidebar .MuiFormControlLabel-root {
  margin-bottom: 0.5rem;
}

.restaurant-container .heading{
    width: 100%;
    text-align: center;
    margin: 0;
}

.restaurant-list {
  flex: 1;
  width: 100%;
}

.restaurant-list .MuiTypography-h4 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.restaurant-list .MuiCard-root {
  max-width: 380px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.restaurant-list .MuiCardMedia-root {
  height: 200px;
  object-fit: cover;
}

.restaurant-list .disesh {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 3px rgb(128, 128, 128);
}

.restaurant-list .MuiTypography-body2 {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.restaurant-list .MuiChip-root {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.restaurant-list .view-prices-btn {
  margin-top: 1.25rem;
  width: 100%;
}

/* Error Message Styles */
.error-message {
  font-size: 1.25rem;
  color: red;
  text-align: center;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .restaurant-list .not-found {
    font-size: 3rem;
    font-weight: 900;
    font-weight: bold;
    color: red;
    animation: blink 2s infinite;
  }