/* .SearchAll .destination *{
  margin: 0;
  padding: 0;
} */

.SearchAll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Lemonada:wght@700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ----------------------------First section(carosoule)----------------------------------- */

.SearchAll .carosoule {
  height: 501px;
  width: 100%;
  box-shadow: 0px 3px 0px 3px black;
}

.SearchAll .carosoule img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.SearchAll .carosoule .t-slide {
  object-position: center;
}

.SearchAll .carosoule h1 {
  font-family: 'Mulish' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4em;
  font-weight: 800;
  padding-bottom: 140px;
}
/* ----------------------------Second section(Why Choose Us)------------------------------------ */

.SearchAll .whyChose * {
  margin: 0;
  padding: 0;
  font-family: Aeonik, Helvetica, Arial, sans-serif;
}

.SearchAll .whyChose {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0;
  border-bottom: 1px solid rgba(169, 164, 164, 0.484);
}

.SearchAll .whyChose .head {
  font-size: 2.5em;
  font-weight: 800;
  padding: 15px 0;
}

.SearchAll .whyChose .reasons {
  display: flex;
  column-gap: 50px;
}

.SearchAll .whyChose .reasons > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 190px;
  padding: 5px 0;
}

.SearchAll .whyChose h5 {
  font-size: 1.5em;
  font-weight: 700;
  height: 30px;
  padding: 5px 0;
}

.SearchAll .whyChose p:first-child .rsn-icn {
  margin: 5px 0;
  width: 30px;
  height: 30px;
}

.SearchAll .whyChose p:nth-child(3) {
  text-align: center;
  padding: 8px 0 5px 0;
}

.SearchAll .login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 203px;
  background-color: #efeef7;
  padding: 32px 16px;
  margin-top: 50px;
  border-radius: 10px;
}

.SearchAll .login h2 {
  font-size: 1.6em;
  font-weight: 800;
  margin-bottom: 8px;
}

.SearchAll .login h6 {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 32px;
}

.SearchAll .login a {
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

.SearchAll .login button {
  height: 44px;
  width: 320px;
  background-color: black;
  color: #d0d0d0;
  border: none;
  border-radius: 8px;
  padding: 9px 24px;
  font-size: 1em;
  transition: 0.1s all linear;
  &:hover {
    font-size: 1.1em;
  }
}

/* ----------------------------Third section(Place Card)------------------------------------ */

.SearchAll .destination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  border-bottom: 1px solid #80808087;
  margin: 10px 0 0 0;
  height: 680px;
  max-width: 96%;
}

.SearchAll .destination .dest-head {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 2.7em;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: #000;
  text-shadow: 2px 2px 1px rgb(141, 133, 133);
}

.SearchAll .destination .place {
  width: 100%;
  height: 80%;
  overflow: hidden;
  padding: 10px 0;
}

.SearchAll .destination .placeCard {
  height: 400px !important;
  width: 255px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  flex-direction: column !important;
  gap: 8px !important;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 10px 0 10px 12px;
  scale: 1;
  transition: all 0.2s linear;
  overflow: hidden;
  box-shadow: 3px 3px 10px 1px rgb(0, 0, 0);
  &:hover {
    scale: 1.02;
  }
}

.SearchAll .destination .image {
  width: 225px !important;
  min-height: 150px !important;
  overflow: hidden;
}

.SearchAll .destination img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 20px;
}

.SearchAll .destination .image p {
  font-size: 3.75em;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  top: 21%;
  left: 7%;
  z-index: 10;
}

.SearchAll .destination .name {
  width: 235px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchAll .destination .placeCard h1 {
  font-size: 1.4em;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  word-spacing: 0px;
}

.SearchAll .destination .desc {
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  text-indent: 7px;
}

.SearchAll .destination h6 {
  font-size: 0.7em;
}

.SearchAll .destination .spot {
  width: 225px;
  height: 45px;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0 4px;
}

.SearchAll .destination h4 {
  font-size: 0.75em;
  font-weight: 700;
}

.SearchAll .destination .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px;
}

.SearchAll .destination .eplr-btn {
  width: 107px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #ff5733;
  color: white;
  transition: all 0.3s ease;
  scale: 1;
  &:hover {
    background-color: #e64a19;
    scale: 1.03;
  }
}


/* ----------------------------Four section( FeedBack)------------------------------------ */


  .SearchAll .Service-section * {
    margin: 0;
    padding: 0;
    font-family: Aeonik, Helvetica, Arial, sans-serif;
  }

.SearchAll .Service-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  border-bottom: 1px solid rgba(169, 164, 164, 0.484);
}

.SearchAll .Service-section h1 {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 2.7em;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: #000;
  text-shadow: 2px 2px 1px rgb(141, 133, 133);
}

.SearchAll .services{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 94%;
  height: 370px;
  padding: 10px 30px;
}

.SearchAll .Service-section .service{
  width: 320px !important;
  height: 280px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 10px;
  margin: 5px !important;
  overflow: hidden;
  box-shadow: 1px 1px 7px 2px grey;
  position: relative;
  background-color: #000;
}
.SearchAll .Service-section img {
  width: 100%;
  height: 280px;
  opacity: 0.5;
}

.SearchAll .service::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.SearchAll .service:hover::after {
  opacity: 1;
}

.SearchAll .service:hover .name{
  z-index: 100;
}

.SearchAll .Service-section .name{
  font-size: 35px;
  font-weight: 900;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff9f9;
  position: absolute;
  cursor: pointer;
}

.slick-prev,
.slick-next {
  z-index: 10 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: rgb(0, 0, 0) !important;
}

.slick-prev {
  left: 0px !important;
}

.slick-next {
  right: 0px !important;
}

/* ----------------------------Four section( FeedBack)------------------------------------ */

/* .SearchAll .feedback{
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 50px;
  padding: 50px 0;
}


.SearchAll .feedback .feed::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(197, 155, 76);
  opacity: 0.3;
  z-index: 1;
}

.SearchAll .feedback .feed{
  position: relative;
  background-color: rgb(185, 54, 75);
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 4px;
  background-image: url('../Images/Discovery2.avif');
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.SearchAll .feedback .feed .pic{
  z-index: 2;
  background-image: url('../Images/person\ 1.JPG');
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  border: 3px solid white;
}

.SearchAll .feedback .feed .message{
  text-align: center;
  z-index: 2;
}

.SearchAll .feedback .feed .star{
  background-color: rgb(167, 195, 108);
  z-index: 2;
  height: 20px;
} */

/* ------------------------------------Five section( Packages)--------------------------------------------------- */

.SearchAll .packages {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #80808087;
}

.SearchAll .packages h1 {
  font-weight: 700;
  font-size: 2.2em;
}

.SearchAll .package {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0 16px 0;
  overflow: auto;
  width: 1400px;
}

/* ------------------------------------ Six Section (Offers)----------------------------------------------- */

.SearchAll .offers * {
  margin: 0;
  padding: 0;
}

.SearchAll .offers {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchAll .offers h1 {
  font-weight: 700;
  font-size: 2.2em;
  padding-bottom: 10px;
}

.SearchAll .offers .deal {
  position: relative;
  width: 80%;
  height: 500px;
  overflow: hidden;
}

.SearchAll .offers .deal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.SearchAll .offers .deal:hover::before {
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, #787676 100%);
  opacity: 0;
}



.SearchAll .offers .deal img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.SearchAll .offers .deal .deal-float {
  position: absolute;
  z-index: 3;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.SearchAll .offers .deal .ofr-tag {
  position: absolute;
  top: 70px;
  right: -70px;
  background-color: red;
  rotate: 38deg;
  text-align: center;
  width: 30%;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 800;
}

.SearchAll .offers .deal .deal-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SearchAll .offers .deal-float h2 {
  font-size: 3em;
  font-weight: 800;
}

.SearchAll .offers .deal-float p {
  font-size: 1.1em;
  font-weight: 600;
}
.SearchAll .offers .deal-float button {
  width: 120px;
  height: 40px;
  position: relative; 
  border-radius: 8px;
  border: none;
  background-color: #338bff;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  animation: bounce 0.5s infinite ease-in-out alternate;
  &:hover {
  background-color: #0f3b75;
  transform: scale(1.05);
}
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
