/* .SearchAll .destination *{
  margin: 0;
  padding: 0;
} */

@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Lemonada:wght@700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* ----------------------------First section(carosoule)----------------------------------- */

.mulish {
  font-family: "Mulish", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 3px;
}
/* ----------------------------Second section(Why Choose Us)------------------------------------ */

.SearchAll .whyChose * {
  margin: 0;
  padding: 0;
  font-family: Aeonik, Helvetica, Arial, sans-serif;
}

.SearchAll .whyChose {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(169, 164, 164, 0.484);
}

.SearchAll .whyChose .head {
  font-size: 2.5em;
  font-weight: 800;
  padding: 15px 0;
}

.SearchAll .whyChose .reasons > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 310px; */
  min-height: 200px;
  padding: 5px 0;
  
}

.SearchAll .whyChose h5 {
  font-size: 1.5em;
  font-weight: 700;
  height: 30px;
  padding: 5px 0;
}

.SearchAll .whyChose p:first-child .rsn-icn {
  margin: 5px 0;
  width: 30px;
  height: 30px;
}

.SearchAll .whyChose p:nth-child(3) {
  text-align: center;
  padding: 8px 0 5px 0;
}

.SearchAll .login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 203px;
  background-color: #efeef7;
  padding: 32px 16px;
  margin-top: 50px;
  border-radius: 10px;
}

.SearchAll .login h2 {
  font-size: 1.6em;
  font-weight: 800;
  margin-bottom: 8px;
}

.SearchAll .login h6 {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 32px;
}

.SearchAll .login a {
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

.SearchAll .login button {
  height: 44px;
  width: 320px;
  background-color: black;
  color: #d0d0d0;
  border: none;
  border-radius: 8px;
  padding: 9px 24px;
  font-size: 1em;
  transition: 0.1s all linear;
  &:hover {
    font-size: 1.1em;
  }
}

/* ----------------------------Third section(Place Card)------------------------------------ */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* -------------------------------------------------------------------------------------------- */
.carousel-caption{
  left: 5%;
  text-align: left;
}

.slick-prev,
.slick-next {
  z-index: 10 !important;
  border-radius: 50% !important;
  background-color: rgb(0, 0, 0) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-color: white;
  color: black;
  padding-bottom: 40px !important;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
}

.slick-prev {
  left: 0px !important;
}

.slick-next {
  right: 0px !important;
}

.carousel-control-prev,
.carousel-control-next{
  padding: 0 !important;
  width: 100px !important;
}