.AllTickets{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 50px 0;
    background-color: #f5f5f5;
}

.Trains{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.Flights{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}